{% extends "app/exercise_base.html" %}
{% load static %}
{% block exercise %}

<div class="row" id="answers">
    {% for x in exercise_answers.answers|shuffle %}
    <div class="col-sm answer-container">
        <button id="{{x}}" class="answer btn-lg text-center w-100">
            {{exercise_answers.answers|get_item:x}}
        </button>
    </div>
    {% endfor %}
</div>


<script>
    var correct_answer = `{{exercise_answers.correct}}`;
    var id = `{{exercise_url}}`;
    var points = parseInt(`{{exercise_points}}`);
</script>

<script src="{% static 'exercise-closed.js'%}"></script>

{% endblock %}