{% extends "app/exercise_base.html" %}
{% block description %}
{% endblock %}
{% block exercise %}
<div class="m-2">
    <h3>Tytuł</h3>
    <input type="email" class="form-control" id="title-input" placeholder="Enter email" value="{{exercise_title}}">
</div>
<div class="m-2">
    <h3>Opis</h3>
    <div id="editor" style="width: 90%; height:200px">{{exercise_content}}</div>
</div>
<div class="m-2">
<h3>Odpowiedzi</h3>
<div id="answers-editor" style="width: 90%; height:200px">{{exercise_answers}}</div>
</div> 

<div class="form-group m-2">
    <h3>Typ odpowiedzi</h3>
    <label for="sel1">Select list:</label>
    <select class="form-control" id="answer-type"  autocomplete="off">
        {% for number, type in answer_types %}
        <option value="{{number}}" 
                {%ifequal answer_type type %}
                selected
                {%endifequal%}>
            {{type}}
        </option>
        {% endfor %}
    </select>
</div> 


{% for key, value in answer_dict %}
<div class="container">
    {{key}}
    <code>{{value|safe}}</code>

</div>
{% endfor %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js" type="text/javascript" charset="utf-8"></script>



<script>

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.setShowPrintMargin(false);
    editor.getSession().setMode("ace/mode/latex");

    var answersEditor = ace.edit("answers-editor");
    answersEditor.setTheme("ace/theme/monokai");
    answersEditor.setShowPrintMargin(false);
    answersEditor.getSession().setMode("ace/mode/python");

    $('#answer-type').change(function() {
        var val = $(this).val();
        answersEditor.getSession().setValue('abc');
    });
</script>
{% endblock %}
{% block points %}
{% endblock %}