{% extends "app/layout.html" %}

{% block content %}

{% for test in tests %}
<div class="jumbotron mx-5 my-2 mx-auto px-5" style="max-width: 800px">
    <h3>{{test.title}}</h3>
    <p class="lead">{{test.description}}</p>
    <p>
        <a href="/{{test.url}}" class="btn btn-primary btn-large">Rozpocznij</a>
        {% if user.is_superuser %}
        <a href="/{{test.url}}/edit" class="btn btn-secondary btn-large">Edytuj</a>
        {% endif %}
        </p>
</div>
{% endfor %}

<script>
    sessionStorage.clear();
</script>

{% endblock %}