#exercise-description {
    margin: 2rem 0.5rem;
}


#answers {
    margin: 1rem;
}

#points-container {
    display: none;
}

@media only screen and (max-width: 600px) {

    #exercise {
        padding: 1rem;
    }

    #exercise-description img {
        max-width: 80%;
    }

    #exercise-description p {
        text-align: justify;
        margin: 1rem;
    }

    .answer {
        margin: 0.1rem 0;
        width: 100%;
    }

    #answers {
        max-width: 400px;
        margin: auto;
    }
}

@media only screen and (min-width: 600px) {
    #exercise {
        padding: 2rem;
        margin: 2rem;
    }

    #answers {
        margin: 2rem;
    }

    .answer-container {
        padding: 1rem;
    }

    .answer { height: 100%; }

}


#solution-list li {
    list-style-type: none;
}
/*#points{ display: hidd}*/
