label {
     user-select: none;
     -moz-user-select: -moz-none;
 }

.disabled {
    pointer-events: none;
    opacity: 0.4;
    background: lightgrey;
    user-select: none;
    -moz-user-select: -moz-none;
}

.form-group label {
    width: 200px;

    justify-content: right !important;
}

.form-control { max-width: 275px !important; }

.answer {
    flex-grow: 1;
    margin: 0 1rem;
    padding: 0.5rem 3rem;
    font-size: 14px;
    font-weight: 600;
}

a:hover { text-decoration: none; }

.select-none { user-select: none; }

.btn-container {
    width: 50%;
    height: 50px;
    padding-top: 10px;
}

.btn-container a, .btn-container button {
    display: inline-table;
    min-width: 150px !important;
}

#exercise {
    overflow-x: hidden;
    overflow-y: visible;
    visibility: hidden;
    height: calc(100vh - 500px);
}

ul.list-horizontal {
    list-style: none;
    width: 500px;
}

ul.list-horizontal li { display: inline; }

ul.list-horizontal li input {
    width: 50px;
    display: inline !important;
}

ol.list-inline > li {
    display: inline-block;
}